apiVersion: apps/v1
kind: Deployment
metadata:
  name: babiapp-v1
spec:
  replicas: {{ number_replicas_old_version }}
  selector:
    matchLabels:
      app: babiapp
  template:
    metadata:
      labels:
        app: babiapp
        version: {{ old_version }}
      annotations:
        prometheus.io/scrape: "{{ prometheus_scrape }}"
        prometheus.io/port: "{{ prometheus_port }}"
    spec:
      containers:
      - name: babiapp
        image: linuxtips/nginx-prometheus-exporter:{{ old_version }}
        env:
        - name: VERSION
          value: {{ old_version }}
        ports:
        - containerPort: {{ nginx_port }}
        - containerPort: {{ prometheus_port }}
